
#weborgan{
	position: absolute;
	width: 800px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}

#farfisa {
	width: 800px;

}

#keys {
	position: absolute;
	top:275px;
	left: 60px;
}

.st11:hover{
	fill:#D1E9D1
}

.st12:hover{
	fill:#AEABC2
}

.hide{
	visibility: hidden;
}


